@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #383A48;
    overflow-y: hidden; 
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.cabecalho-imagem {
    height: 64px;
}

.cabecalho-menu {
    display: flex;
    gap: 50px;
    margin-left: 200px;
}

.cabecalho-menu-item {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    border-radius: 20px;
    background-color: #2e36a7c4;
    border: none;
    width: 150px;
    height: 30px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);    
}

.cabecalho-menu-item:hover {
    background-color: rgba(74, 153, 255, 0.53);
    margin-bottom: 0px; 
}


.header {
    width: 50%;
    align-items: center;
    text-align: center;
    justify-content: space-around; 
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    margin-left: 60px;
    margin-top: 70px;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 240px;
    height: 40px;
    border: 10px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-weight: 400;
    font-size: 24px;
}

.column {
    float: left;
    width: 50%;
    align-items: center;
    justify-content: space-around; 
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    margin-left: 60px;
    margin-top: 40px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .image {
    float: center;
    height: 410px;
    border-radius: 40%;
    margin-left: 45px;   
  }